#!/bin/sh
set -e

# debconf
. /usr/share/debconf/confmodule
db_version 2.0

config_file="/etc/apparmor.d/tunables/home.d/ubuntu"
dirs=

# read in the current value
if [ -s "$config_file" ]; then
    dirs=`egrep '^@{HOMEDIRS}' "$config_file" | tail -1 | cut -d '=' -f 2-`
    db_set apparmor/homedirs "$dirs"
fi

db_input medium apparmor/homedirs || true
db_go
