#!/bin/sh

set -e

. /usr/share/debconf/confmodule
db_version 2.0

CONF=/etc/default/irqbalance

if test -e $CONF; then
    . $CONF || true
    
    db_set irqbalance/enable ENABLE
    db_set irqbalance/oneshot ONESHOT
fi

db_input low irqbalance/enable || true
db_input medium irqbalance/oneshot || true
db_go || true

exit 0

