<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Piss and INK</title>
<link href="thrColLiqHdr.css" rel="stylesheet" type="text/css"><!--[if lte IE 7]>
<style>
.content { margin-right: -1px; } /* this 1px negative margin can be placed on any of the columns in this layout with the same corrective effect. */
ul.nav a { zoom: 1; }  /* the zoom property gives IE the hasLayout trigger it needs to correct extra whiltespace between the links */
</style>
<![endif]-->
</head>

<body>

<div class="container">
  <div class="header"><a href="#"><img src="images/tl_menu.png" alt="Piss & INK" name="logomenu" width="20%" height="90" id="logomenu" style="background: 737CA1 #; display:block;" /></a> 
    <!-- end .header --></div>
  <div class="sidebar1">
    <ul class="nav">
      <li><a href="#">Link one</a></li>
      <li><a href="#">Link two</a></li>
      <li><a href="#">Link three</a></li>
      <li><a href="#">Link four</a></li>
    </ul>
    {%block first_block%}
    <p>Small modules load here.</p>
    <p>Modules are moveable and are ordered by number.</p>
    <p>Modules one to four are loaded in this area.</p>
    {%endblock%}
    {%block event_list%}
    {%endblock%}
    <p>&nbsp;</p>
    <p>One</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
<p>Two </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
<p>Three<!-- end .sidebar1 --></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Four</p>
  </div>
  <div class="content">
	
    <h1>Main modules load below</h1>
    <p>Larger modules will load in this main panel.</p>
    <p>Modules are ordered by number and are moveable and orderable within panels. Modules that are to be placed in the center area can be numbered five to ten.</p>
    <p>Numbering runs from top to bottom.</p>
    <p>No more than 15 modules are allowed to be loaded at a time to keep page load times reasonable and to avoid clutter.</p>
    {%block main1%}
    <p>Five</p>
    {%endblock%}
    {%block main2%}
    <p>Six</p>
    {%endblock%}
    {%block main3%}    
    <p>Seven</p>
    {%endblock%}
    <p>Eight</p>
    <p>Nine </p>
    <p>Ten</p>
    <h2>Clearing Method</h2>
    <p>Because all the columns are floated, this layout uses a clear:both declaration in the .footer rule.  This clearing technique forces the .container to understand where the columns end in order to show any borders or background colors you place on the .container. If your design requires you to remove the .footer from the .container, you'll need to use a different clearing method. The most reliable will be to add a &lt;br class=&quot;clearfloat&quot; /&gt; or &lt;div  class=&quot;clearfloat&quot;&gt;&lt;/div&gt; after your final floated column (but before the .container closes). This will have the same clearing effect.</p></p></p>
        <!-- end .content --></div>
        
  <div class="sidebar2">
    <h4>Right panel</h4>
    <p>This panel is completely optional.</p>
    <p>Small modules load here and are ordered by number.</p>
    <p>Modules 11-15 are loaded in <!-- end .sidebar2 -->this area.</p>
    <p>&nbsp;</p>
<p>Eleven</p>
    <p>&nbsp;</p>
    <p>Twelve</p>
    <p>&nbsp;</p>
    <p>Thirteen</p>
    <p>&nbsp;</p>
    <p>Fourteen</p>
    <p>&nbsp;</p>
    <p>Fifteen  </p>
  </div>
  <div class="footer">
    <p>This .footer contains the declaration position:relative; to give Internet Explorer 6 hasLayout for the .footer and cause it to clear correctly. If you're not required to support IE6, you may remove it.</p>
    <!-- end .footer --></div>
  <!-- end .container --></div>
</body>
</html>
