{% extends "index.html"%}

{%block head%}
<p><h1>Welcome to Piss + ink {{user}}</h1></p>
{%endblock head%}
	 {%block link_block%}
	 {%for bookmark in bm %}
			{%if bookmark == 'None' or bookmark == None%}
				<li><a>no bookmark</a></li>
			{%else%}
				<li><a href='http://{{bookmark}}'>{{bookmark}}</a></li>
			{%endif%}		
	 {% endfor %}
     
	 {%endblock%}
		{%block one%}
			{%if choice1 == '1'%}     
				<p>{%include "mod1.html"%}</p>
			{%endif%}
			{%if choice2 == '1'%}
				{%include "mod2.html"%}
			{%endif%}
			{%if choice3 == '1'%}
				{%include "mod3.html"%}
			{%endif%}
			{%if choice4 == '1'%}
				{%include "mod4.html"%}
			{%endif%}			
			{%if choice5 == '1'%}
				{%include "mod5.html"%}
			{%endif%}
			{%if choice6 == '1'%}
				{%include "mod6.html"%}
			{%endif%}
			{%if choice7 == '1'%}
				{%include "mod7.html"%}
			{%endif%}
			{%if choice8 == '1'%}
				{%include "mod8.html"%}
			{%endif%}
			{%if choice9 == '1'%}
				{%include "mod9.html"%}
			{%endif%}
			{%if choice10 == '1'%}
				{%include "mod10.html"%}
			{%endif%}
			{%if choice11 == '1'%}
				{%include "mod11.html"%}
			{%endif%}
			{%if choice12 == '1'%}
				{%include "mod12.html"%}
			{%endif%}						
		{%endblock one%}
		{%block two%}
			{%for choice in choice_dict%}
				{%if choice == '2'%}	
					{% with forloop.counter|stringformat:"s" as loop_choice %}														
					{% with "mod"|add:loop_choice|add:".html" as template %}
						{%include template%}<br />
					{%endwith%}
					{%endwith%}					
				{%endif%}
			{%endfor%}			
		{%endblock two%}
		{%block three%}
			{%for choice in choice_dict%}
				{%if choice == '3'%}
					{% with forloop.counter|stringformat:"s" as loop_choice %}														
					{% with "mod"|add:loop_choice|add:".html" as template %}
						{%include template%}<br />
					{%endwith%}
					{%endwith%}					
				{%endif%}
			{%endfor%}						
		{%endblock%}
				
		{%block four%}
			{%for choice in choice_dict%}
				{%if choice == '4'%}
					{% with forloop.counter|stringformat:"s" as loop_choice %}														
					{% with "mod"|add:loop_choice|add:".html" as template %}									
						{%include template%}<br />
					{%endwith%}
					{%endwith%}					
				{%endif%}
			{%endfor%}		
		{%endblock%}
		{% block five %}
			{%for choice in choice_dict%}
				{%if choice == '5'%}
					{% with forloop.counter|stringformat:"s" as loop_choice %}														
					{% with "mod"|add:loop_choice|add:".html" as template %}
						{%include template%}<br />
					{%endwith%}
					{%endwith%}		
				{%endif%}
			{%endfor%}	
		{%endblock%} 
		{%block six%}
			 {%for choice in choice_dict%}
				{%if choice == '6'%}
					{% with forloop.counter|stringformat:"s" as loop_choice %}														
					{% with "mod"|add:loop_choice|add:".html" as template %}
						{%include template%}<br />
					{%endwith%}
					{%endwith%}		
				{%endif%}
			{%endfor%}	
		{%endblock%}
		{%block seven%}
			 {%for choice in choice_dict%}
				{%if choice == '7'%}
					{% with forloop.counter|stringformat:"s" as loop_choice %}														
					{% with "mod"|add:loop_choice|add:".html" as template %}
						{%include template%}<br />
					{%endwith%}
					{%endwith%}		
				{%endif%}
			{%endfor%}							
		{%endblock%}		
		{%block eight%}
			 {%for choice in choice_dict%}
				{%if choice == '8'%}
					{% with forloop.counter|stringformat:"s" as loop_choice %}														
					{% with "mod"|add:loop_choice|add:".html" as template %}
						{%include template%}<br />
					{%endwith%}
					{%endwith%}		
				{%endif%}
			{%endfor%}	
		{%endblock%}
		{%block nine%}
			 {%for choice in choice_dict%}
				{%if choice == '9'%}
					{% with forloop.counter|stringformat:"s" as loop_choice %}														
					{% with "mod"|add:loop_choice|add:".html" as template %}
						{%include template%}<br />
					{%endwith%}
					{%endwith%}		
				{%endif%}
			{%endfor%}	
		{%endblock%}
		{%block ten%}
			 {%for choice in choice_dict%}
				{%if choice == '10'%}
					{% with forloop.counter|stringformat:"s" as loop_choice %}														
					{% with "mod"|add:loop_choice|add:".html" as template %}
						{%include template%}<br />
					{%endwith%}
					{%endwith%}		
				{%endif%}
			{%endfor%}	
		{%endblock%}
		{%block eleven%}
			 {%for choice in choice_dict%}
				{%if choice == '11'%}
					{% with forloop.counter|stringformat:"s" as loop_choice %}														
					{% with "mod"|add:loop_choice|add:".html" as template %}
						{%include template%}<br />
					{%endwith%}
					{%endwith%}		
				{%endif%}
			{%endfor%}	
		{%endblock%}
		{%block twelve%}
			 {%for choice in choice_dict%}
				{%if choice == '12'%}
					{% with forloop.counter|stringformat:"s" as loop_choice %}														
					{% with "mod"|add:loop_choice|add:".html" as template %}
						{%include template%}<br />
					{%endwith%}
					{%endwith%}		
				{%endif%}
			{%endfor%}	
		{%endblock%}
       
    
    
	
   

{%comment%}{%endblock small_modules%}{%endcomment%}





		
		
