{% extends "index.html"%}

{%block head%}
<a href="/config">configuration</a>
{%endblock head%}

     {%block one%}
     <p>Welcome to piss and ink {{user}}</p>
     <p>the temperatue in {{city}} is {{temperature}}</p>
     
     {%endblock one%}
     {%block two%}
     {% if event_list %}
     <form method="post">
		{%csrf_token%}
     	{% if new_event %}
			<p>{{new_event}}</p>
		{% endif %}
		{% if delete_error %}
		<p>{{delete_error}}</p>
		{% endif %}						
			<label for="event">Enter your event</label>
			<input type="text" name="event" id="event" />
		    </form>
		{%endif%}
	<form action="" method="post">
	{% if event_list %}
    {% for event in event_list%}
		{%csrf_token%}		
		<input type="checkbox" name="event_check" id="event{{ forloop.counter }}" value = "{{ event.event_id }}"/>
		<label for="event{{ forloop.counter }}">{{ event.title }}</label><br />			
	{% endfor %}
	<input type = 'submit' value = 'delete checked'>
	</form>	
	{% else %}
	<p>There are no events created yet</p>
	{% endif %}
	{%endblock two%}
     
    
       
    
    
	
   

{%comment%}{%endblock small_modules%}{%endcomment%}





		
		
